
<div class="footer--fullWidth">
    <footer>
        <div class="footer__left">
            <div class="footer__leftTop">
                <div class="footer__menu">
                    <img class="footer__logo" src="images/logos/dept-white.png">
                    <div class="footer__links">
                        <a href="">WORK</a>
                        <a href="">SERVICES</a>
                        <a href="">STORIES</a>
                        <a href="">ABOUT</a>
                        <a href="">CAREERS</a>
                        <a href="">CONTACT</a>
                    </div>
                </div>

                <div class="footer__social">
                    <a href=""><img src="images/social/fb.png"></a>
                    <a href=""><img src="images/social/twitter.png"></a>
                    <a href=""><img src="images/social/instagram.png"></a>
                </div>
            </div>

            <div class="devider"></div>

            <div class="footer__leftBottom">
                <div class="footer__bottomItems">
                    <span>Chamber of Commerce: 63464101</span>
                    <span>VAT: NL 8552.47.502.B01</span>
                    <span>Terms and conditions<span>
                </div>
                <span class="footer__dept">© 2019 Dept Agency</span>
            </div>
        </div>

        <div class="footer__right" id="goToTop">
            <img src="images/icons/arrow_blue.png">
            <span>TOP</span>
        </div>
    </footer>
    <div class="footer--white"></div>
</div>
