<nav>
    <div class="nav__container">
        <img class="nav__item" src="images/logos/DEPT.png">
        <div class="nav__item">
            <div class="nav__text" id="openMenu">MENU =</div>
        </div>
    </div>
</nav>

<div id="menu">
    <div class="menu__container">
        <div class="menu__countries">
            <ul>
                <li>
                    <a href="">LANDEN</a>
                </li>
                <li>
                    <a href="">GLOBAL</a>
                </li>
                <li>
                    <a href="">
                        <span class="menu--active">▶</span>NEDERLAND</a>
                </li>
                <li>
                    <a href="">UNITED STATES</a>
                </li>
                <li>
                    <a href="">IRELANDUNITED KINGDOM</a>
                </li>
                <li>
                    <a href="">DEUTSCHLAND</a>
                </li>
                <li>
                    <a href="">SCHWEIZ</a>
                </li>
            </ul>
        </div>

        <div class="menu__social">
            <ul>
                <li>
                    <a href="">FACEBOOK</a>
                </li>
                <li>
                    <a href="">TWITTER</a>
                </li>
                <li>
                    <a href="">INSTAGRAM</a>
                </li>
                <li>
                    <a href="">LINKEDIN</a>
                </li>
            </div>

            <div class="menu__top">
                <img src="images/logos/dept-white.png">
                <span id="closeMenu">X</span>
            </div>

            <div class="menu__bottom">
                <ul>
                    <li>
                        <a href="">
                            <span class="menu--active">▶</span>HOME</a>
                    </li>
                    <li>
                        <a href="">WERK</a>
                    </li>
                    <li>
                        <a href="">OVER</a>
                    </li>
                    <li>
                        <a href="">DIENSTEN</a>
                    </li>
                    <li>
                        <a href="">PARTNERS</a>
                    </li>
                    <li>
                        <a href="">STORIES</a>
                    </li>
                    <li>
                        <a href="">VACATURES</a>
                    </li>
                    <li>
                        <a href="">EVENTS</a>
                    </li>
                    <li class="clear--border">
                        <a href="">CONTACT</a>
                    </li>
                </ul>

                
            </div>
            <div class="menu--gradient"></div>
        </div>
    </div>